.menu {
  width: 320px;
  margin-top: 120px;
}

.link {
  display: flex;
  align-items: center;
  height: 64px;
  text-decoration: none;
}

.active {
  color: #f2f2f3;
}

.exitButton {
  background-color: transparent;
  border: 0;
  height: 64px;
  cursor: pointer;
}
