.payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 40px 16px 0 0;
}

.price {
  display: flex;
  align-items: center;
  padding-right: 42px;
  column-gap: 8px;
}
