/* Стили страниц с формами */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.line {
  display: flex;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}

/* Страница профиля пользователя */
.profile {
  display: flex;
  max-width: 1240px;
  margin: auto;
  gap: 60px;
}

/* Главная страница */
.main {
  display: flex;
  justify-content: center;
  gap: 41.5px;
}

.twoBlocks {
  display: flex;
  flex-direction: column;
}

/* Страница ингредиентов */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

/* Ошибка 404 */
.container {
  display: flex;
  align-items: center;
  margin: 180px auto;
  flex-direction: column;
}

.linkNotFound {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

/* Страница ленты заказов */
.feed {
  display: flex;
  gap: 60px;
  justify-content: center;
}
