.details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  width: 516px;
  margin: 0;
  padding: 0;
}
