.main {
  min-width: 536px;
  max-width: 796px;
  min-height: 214px;
  max-height: 246px;
  background: #1c1c21;
  border-radius: 40px;
  padding: 24px;
  cursor: pointer;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingredients {
  display: flex;
  justify-content: space-between;
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 52px);
  list-style: none;
  padding: 0;
}

.ingredientFrame {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, rgba(76, 76, 255, 1), rgba(128, 26, 178, 1))
      border-box;
  border: 2px solid transparent;
}

.ingredientImage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  display: flex;
  align-items: center;
}
