.cardButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: flex-end;
}
